<div id="main-header" class="main-header">
  {% if site.search_enabled != false %}
    {% include components/search_header.html %}
  {% else %}
    <div></div>
  {% endif %}
  {% include header_custom.html %}
  <button class="btn js-toggle-dark-mode">Dark Mode</button>
  <script>
    const toggleDarkMode = document.querySelector('.js-toggle-dark-mode');

    jtd.addEvent(toggleDarkMode, 'click', function(){
      if (jtd.getTheme() === 'dark') {
        jtd.setTheme('light');
        toggleDarkMode.textContent = 'Dark Mode';
      } else {
        jtd.setTheme('dark');
        toggleDarkMode.textContent = 'Light Mode';
      }
    });
  </script>
</div>
